* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(241, 241, 210);
}

.w {
    width: 1500px;
    margin: auto;
    overflow: hidden;
}

em, i {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

button {
    cursor: pointer
}

/*--------------Header container------------- */

.header {
    position: fixed;
    z-index: 1000;
    height: 100px;
    width: 100%;
    line-height: 60px;
    background-color: white;
}

.logo {
    width: 90px;
    height: 90px;
}

/*right side navbar*/

.navbar ul li {
    margin-left: 80px;
    float: left;
    padding: 0px 15px 15px 80px;
    background-color: #fff;
}

.navbar ul li a {
    line-height: 100px;
    list-style: none;
    text-decoration: none;
    font-family: Courier New, monospace;
    color: black;
    font-size: 25px;
    background-color: #fff;
}

.navbar ul li a:hover {
    color:  rgb(228, 104, 95);
}

/*------background image----*/

.background {
    height: 900px;
    width: 1500px;
    text-align: center;
}

.background .filler {
    height: 500px;
}

.background img {
    margin-top: 130px;
    border-radius: 2%;
    width: 1250px;
    height: auto;
    display: inline-block;
}

/*----About Me----*/

.about {
    padding-top: 150px;
    height: auto;
    width: 1000px;
    text-align: center;
    font-family: Courier New, monospace;
}

.about h2 {
    text-align: center;
}

.paragraph p {
    font-size: 16px;
    text-align: left;
    height: auto;
    padding: 10px;
    margin-bottom: 80px;
}

.timeline {
    height: 400px;
    height: 800px;
}

.hobbies {
    text-align: center;
    margin-top: 120px;
}

.hobbies .imghob {
    display: inline-block;
    width: 1100px;
    height: auto;
}

.hobbies .hint {
    display: inline-block;
    height: 70px;
    padding-left: 700px;
}

/*-------Resume Section---*/
.resume{
    padding-top:160px;
}
.resume .container-top {
    width: 1500px;
    height: auto;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 150px;
}

.container-top {
    text-align: center;
    margin: 0 auto;
}

.resume .title {
    display: inline;
    background-color: #fcb83a;
    text-align: center;
    margin: 0px auto;
}

.resume .imgRes {
    width: 1000px;
    height: auto;
}

.resume .hint {
    display: inline-block;
    height: 70px;
    padding-left: 300px;
}

/* portfolio */

.portfolio {
    height: auto;
    width: 1100px;
}

.portfolio h2 {
    text-align: center;
}

.portfolio .button {
    width: 1100px;
    height: 300px;
    text-align: center;
}

.portfolio .button li {
    float: left;
    width: 280px;
    margin: 42px;
    overflow: hidden;
    background-color: rgb(241, 241, 210);
}

.portfolio .bar-sec {
    height: 800px;
    width: 1100px;
}

.portfolio .bar {
    height: 600px;
    width: 300px;
    border-radius: 10px;
    margin: 33px;
    float: left;
    background-color: #fff;
}

.portfolio .bar div {
    padding: 100px;
}

.portfolio .bar-sec .bar {
    font-family: Courier New, monospace;
    padding: 50px;
    font-size:18px;
}

.portfolio .art {
    background-color: azure;
    text-align: center;
}

.portfolio .cs {
    background-color: rgb(77, 77, 77);
    text-align: center;
    color: rgb(179, 252, 169);
}

.portfolio .vlog {
    background-color: rgb(207, 207, 207);
    text-align: center;
}

.portfolio .bar-sec .bar .list {
    line-height: 50px;
}

/* footer */

.footer {
    list-style: none;
    margin-top: 50px;
    height: 500px;
    width: 1500px;
    background-color: rgba(146, 146, 146);
    color: white;
}

.footer i, a {
    text-align: center !important;
    width: 150px !important;
    height: 100px !important;
    background-color: rgba(146, 146, 146);
    font-size: 50px;
    padding-top: 80px;
}

.footer p {
    padding-top: 200px;
    background-color: rgba(146, 146, 146);
    font-size: 15px;
}