*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.w{
    width: 1500px;
    margin: auto;
    overflow:hidden;
}

em, i {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

button {
    cursor: pointer
}
   /*--------------Header container------------- */
.header {
    position: fixed;
    z-index: 1000; 
    height: 60px;
    width:100%;
    line-height: 60px;
    background-color: white;
  }

  /*left side word "Ellie Huo"*/
  .title{
      float: left;
      padding-left: 5%;
      line-height: 60px;
  }
  .title h1{
      line-height: 50px;
      font-size: 40px;
      font-family:  Courier New, monospace;
  }

  /*right side navbar*/
  .navbar{
      float:right;
      margin-right: 100px;
  }
.navbar ul li{
    float:left;
    padding: 0px 15px 15px 15px;
}
  .navbar ul li a{
    line-height: 60px;
      list-style: none;
      text-decoration: none;
      font-family:  Arial, Courier New, monospace;
      color: black;
      font-size: 18px;
  }

  .navbar ul li a:hover{
    background-color: #FF9933 ;
    color:white;
}

/*------background image----*/
.background{
    background-color:rgba(61, 61, 61, .6);
    height:620px;
    width:1500px;
    text-align: center;
}

.background img{
    height:620px;
    display: inline-block;
}

/*----About Me----*/
.about{
    padding-top: 3%;

}

.about .info {
    height:550px;
    margin: 2% 6%;
    font-size: 18px;
}
.about .info h2{
    display: inline-block;
    text-align: center;
    background-color: #cfff04;
}

.paragraph{
    width: 850px;
    float: right;
    font-size:16px;
    text-align: center;
}
.details{
    margin-top:80px;
}
.details, .details li{
    width:340px;
    height: 60px;
    float: left;
    list-style-type: none;
    text-align: left;

}
.about .info .details .box{
    float: right;
    padding-top: 70px;
    width:340px;
    height: 20px;
    background-color:#fffb04;
}


/*-------Resume Section---*/
.resume .container-top{
    width: 1200px;
    height: 200px;
    text-align: center;
}

.container-top{
    margin-top: 6%;
}
.resume .container-top .title{
    display: inline-block;
    background-color:#fcb83a ;
}

.resume .container-top .top{
    margin-top: 4%;
    text-align: center;
}

.resume .container-body{
    width:1100px;
    height:auto;
}

.resume .container-body .sections{
   padding: 0 5%;
   width: 1100px;
   height:100px;
   margin-top: 4%;
}

.resume .left{
    float:left;
}
.resume .right{
    float:right; 
    text-align: right;   
}


.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-left: 6%;
    background-color:  #ffdbb7;
    display: inline-block;
    text-align: left;
  }

  
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    background-color: rgb(223, 223, 223);
    display: inline-block;
  }
  
  .resume .resume-item h5 {
    font-size: 16px;
    display: inline-block;
    font-weight: 600;
    text-align: left;
  }

  .resume .resume-item li {
    text-align: left;
  }

  .resume .sections .left .a, .sections .a{
      margin-top: -30px;
  }

.portfolio{

}
.portfolio .youtube{
    
}
























/* footer */
.footer{
    margin-top: 50px;
    height: 200px;
    width: 1500px;
    background-color:rgba(61, 61, 61, .6);
    
}
.footer i {
    color:black;
    text-align: center !important;
    width: 80px !important;
    height:100px !important;
}

/*--------slideshow--------*/
/* #stage {
    padding-top: 70px;
    width: 100%;
    height: 1000px;
  }
  
  #stage a {
    position: absolute;
    left: 0;
    right: 0;
  }
  #stage a img {
  
    background: #fff;
  }
  
  #stage a:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 5s;
    animation-duration: 2.5s;
    z-index: 20;
  }
  #stage a:nth-of-type(2) {
    z-index: 10;
  }
  #stage a:nth-of-type(n+3) {
    display: none;
  }
  
  @keyframes fader {
    from { opacity: 1.0; }
    to   { opacity: 0.0; }
  } */
